/* input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border-bottom: #933c24 3px solid;
}

input[type="radio"][id="action"]:checked ~ .Action {
  display: none;
} */

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border-bottom: #933c24 3px solid;
}

input[type="radio"][id="action"]:checked ~ .image-horror {
  display: none;
}

input[type="radio"]#horror:checked ~ .image-action {
  display: none;
}
